* {
    box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    color: currentColor;
    text-decoration: none;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-family: 'Titan One', cursive;
    color: $title-text;
    background-color: $white-text;
}
